<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("EventHub", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="pull-right">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div id="login-alert" class="text-center fade in login-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> You must <a href="/Account/Login" class="alert-link">login</a> to your account to follow events.
    </div>
    <div id="notification-alert" class="text-center fade in notification-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        You have upcoming events! Click <a href="/Manage/Notifications" class="alert-link">here</a> to view them.
    </div>
</div>