
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notifications</h2>

<div class="container">
    <ul id="notification-list">

    </ul>
</div>

@section scripts{
    <script src="~/Scripts/Notifications.js"></script>
    <script>checkFollowings();</script> 
    }