@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Top Events</h1>
</div>

<input id="authentication" data-user-login="@User.Identity.IsAuthenticated"/>
<div class="container-fluid">
    <div class="row fluid">
        <div class="span12">
            <div class="input-group">
                <input id="search-keyword" class="form-control" type="text" placeholder="Keyword"/>
                <input id="search-location" class="form-control" type="text" placeholder="Location"/>
                <span class="input-group-btn"><button id="search-button" class="form-control btn btn-default" type="button">Search</button></span>
            </div>
            <div class="modal fade" id="myModal">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">

                            <div class="modal-body">

                                <div class="close-button">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div id="directions" class="embed-responsive embed-responsive-16by9">

                                </div>
                            </div>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div> <!-- /.vertical-alignment-helper -->
            </div><!-- /.modal -->
            <ul id="event-container">
                <li>Loading top events from eventful</li>
            </ul>
        </div>
    </div>
</div>
<div id="pagination-nav" class="text-center">
    <div class="container-fluid text-center">
        <ul class="pagination"></ul>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Search.js"></script>
    <script src="~/Scripts/CheckForNotifications.js"></script>
    <script>
        getFollowings();
        getTopEvents();
        checkNotifications();
    </script>
}